body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #76b3f8;
    color: rgb(0, 0, 0);
  }
  
  input {
    width: 50px;
    height: 30px;
    margin: 5px;
    text-align: center;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #485cce;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0fb300;
  }
  
  h1, h3 {
    color: #000000;
  }
  
  select {
    margin: 10px;
    padding: 5px;
  }
  